
.manualNumTable{
    .ant-select{
        width: 100%;
    }
    // .unitWidth{
    //     min-width: 50px;
    // }
    .txtCenter{
        text-align: center;
    }
    
    .footerLabel{
        font-size: 14px;
        margin: 0 10px;
    }
    .totalNum{
        color: red;
        font-weight: bold;
    }
}