.ant-modal {
    .ant-modal-header {
        // background-color: #0cb0ee;
    }
    .ant-modal-title {
        margin: 0;
        font-size: 16px;
        line-height: 21px;
        font-weight: bold; // color: #fff;
    }
    label {
        font-size: 14px;
    }
}
.textJustify{
    .ant-form-item-label {
        text-align-last: justify;
        text-align: justify;
    }
}