.itemWrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.item {
    position: absolute;
    width: 75%;
    height: 100%;
    box-sizing: border-box;
    transition:all 0.8s;
    display: table;
	// display:flex;
	// justify-content:center;
    // align-items:center;
    // border: 1px solid #ccc;
    // background: rgba(32,32,35,.5);
}
.item>div{
    display: table-cell;
    vertical-align: middle;
    // padding: 30px;
}

.actives {
    height: 100%;
    // width: 69%;
    z-index: 2;
}
