@import '../../static/css/variable.less';
.eventBoard{
    min-height: 250px;
    .ant-card-head-title{
        font-size: 15px;
    }
    .ant-card-head{
        background: @primary!important;
        .ant-card-head-title{
            color: white!important;
        }
        .anticon{
            color: white!important;
        }
    }
    .ant-collapse-content-box{
        overflow: hidden;
    }
    .eventItem{
        margin-bottom: 5px;
        white-space: nowrap;
        .anticon-close-circle{
            color: @danger;
            font-size: 14px;
        }
        .anticon-check-circle{
            color: @succ;
            font-size: 14px;
        }
        .eventDesc{
            display: inline-block;
            margin-left: 5px;
            color: black;
            font-size: 14px;
            cursor: pointer;
            &:hover{
                color: @primary;
            }
        }
    }
}