.errorPage{
    width: 65%;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    .fly{
        flex: 1;
    }
    .noFound{
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        .errorImg{
            flex: 2;
        }
        .errorItem{
            align-items: center;
        }
        .errorTxt{
            flex: 1;
            font-size: 20px;
            font-weight: bold;
        }
    }
}
