
.filterOptionMenu{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 5px;
    .ant-menu-item-selected {
        background-color: transparent!important;
    }
    .menuItem{
        min-width: 400px;
        height: initial;
        .ant-form-item{
            margin-bottom: 10px;
        }
    }
    .anticon {
        margin-right: 0;
    }
}