
.colorTable{
    .ant-table-thead > tr > th{
        padding: 10px 8px!important;
    } 
    .ant-table-tbody > tr > td{
        padding: 8px 8px!important;
    }
}
.inputMaxWidth{
    max-width: 80px;
}