
.artWrapper{
    display: flex;
    width: 100%;  
    height: 100%;  
    .tabWrapper{
        display: flex;
        flex: 1;
        .pnTab{
            width: 100%;            
        }
        
    }
    .cont{
        display: flex;
        flex: 6;
        
    }
    .wudWrapper{
        width: 500px;  
        .wud{
            display: flex;
            flex: 1;      
        }
    }

}

