
html, body {
    height: 100%;
}

body {
    line-height: 1
}

div.card-body > a {
    margin-top: 5px
}

.btn-primary {
    margin-right: 5px;
}

button {
    margin-left: 4px;
    margin-right: 4px;
}

.align-right {
    text-align: right
}

.customHeaderMenuButton {
    display: inline-block;
    // margin-left: 4px;
    // float: left;
}

.customHeaderLabel {
    display: inline-block;
    // margin-left: 5px;
    // float: left;
}

.customSortDownLabel {
    display: inline-block;
    // float: left;
    // margin-left: 10px;
}

.customSortUpLabel {
    display: inline-block;
    // float: left;
    // margin-left: 3px;
}

.customSortRemoveLabel {
    display: inline-block;
    // float: left;
    // font-size: 11px;
    // margin-left: 3px;
}

.active {
    color: cornflowerblue;
}

.hidden {
    display: none;
}


.customExpandButton {
    float: right;
    margin-left: 3px;
}

.expanded {
    animation-name: toExpanded;
    animation-duration: 1s;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.collapsed {
    color: cornflowerblue;
    animation-name: toCollapsed;
    animation-duration: 1s;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

@keyframes toExpanded {
    from {
        color: cornflowerblue;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    to {
        color: black;
        -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
        transform: rotate(180deg);
    }
}

@keyframes toCollapsed {
    from {
        color: black;
        -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
        transform: rotate(180deg);
    }
    to {
        color: cornflowerblue;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
}


.agGridTable{
    .ag-root{
        border-radius: 2px;
    }
    .ag-cell {
        text-align: center;
        .danger{
            background: red;
            color: #fff;
            display: block;
            height: 100%;
        }
    }
    .ag-header{
        background: #4e86ff!important;
        color: #fff!important;
        text-align: center;
        .ag-header-group-text {
            width: 100%;
            font-size: 16px;
        }
        .ag-header-group-cell-label{
            text-align: center;
        }
        .ag-floating-filter-input{
            color: #333;
        }
        .ag-header-cell{
            border-right: 1px solid #fff!important;
        }
        .ag-header-group-cell-with-group {
            border-bottom: 1px solid #fff!important;
            border-right: 1px solid #fff!important;
        }
        .active{
            .anticon {     
                color: #fff;
            }
        }
    }
    .ag-row-odd {
        background-color: white!important;
        border-bottom: 1px solid rgb(233, 233, 233)!important;
    }
    .ag-row-even {
        background-color: white!important;
        border-bottom: 1px solid rgb(233, 233, 233)!important;
    }
    .ag-header-cell-moving{
        background: #ecf6fd;
    }
    // .ag-column-hover{
    //     background: #ecf6fd;
    // }
}