

.capcityItem{
    // display: inline-block;
    // width: 49%;
    // margin-right: 1%;
    // // &::nth-of-child(2n){
    // //     margin-right: 0;
    // // }
    // &.odd{
    //     margin-right: 0;
    // }
}
.factorySelect{
    min-width: 90px;
}
.extraWrapper{
    display: inline-block;
    .ant-calendar-picker{
        // width: 40%;
    }
}