
.ant-layout-content{
    // overflow: auto!important;
}

.productLine{
    border-radius: 4px;
    background: white;
    .noSelfCompany{
        // margin-left: 20px;
    }
    .ant-tabs-nav-wrap {
        padding: 0px 20px;
        padding-top: 6px;
    }
    .ant-tabs-content{
        padding: 10px;
    }.ant-tabs-bar {
        margin-bottom: 8px;
    }
    .productRow{
        background: white;
        color: black;
        border: 1px solid #ddd;
        border-radius: 5px;
        display: flex;
        .rowLeft{
            font-size: 16px;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            .factoryItem{
                margin: 10px;
            }
            .factoryItemWrapper{
                text-align: center;
            }
        }
        .rowCenter{
            flex: 6;
            padding: 10px 0;
            .processBox{
                width: 30%;
                display: inline-block;
                padding: 8px;
                margin: 5px;
                border: 1px solid #ddd;
                border-radius: 5px;
                background: #eee;
                .boxInner{
                    border: 1px solid #ddd;
                    display: flex;
                    flex-direction: column;
                    border-radius: 5px;
                    background: white;
                    .boxTop{
                        flex: 1;
                        padding: 8px;
                        display: flex;
                        justify-content: space-around;
                        border-bottom: 1px solid #ddd;
                        .ant-btn-primary{
                            font-size: 16px;
                            font-weight: bold;
                        }
                        .compantCode{
                            display: flex;
                            justify-content: center;
                            align-items: center;

                        }
                    }
                    .boxBottom{
                        font-size: 14px;
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        .bottomItem{
                            flex: 1;
                            display: flex;
                            justify-content: space-around;
                            margin-top: 5px;
                            padding: 5px;
                            border-bottom: 1px solid #ddd;
                        }
                    }
                }

            }
        }
        .rowRight{
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
    }
}