&::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}

.noWrapper {
    width: 100%;
    height: 100%;
    overflow: scroll;
    background: #fff;
    position: relative;
    .headerContainer {
        display: flex;
        flex-direction: row;
        .headerWrapper {
            display: flex;
            flex-direction: row;
            .monthWrapper {
                display: flex;
                flex-direction: column;
                .month {
                    height: 40px;
                    line-height: 40px;
                    font-size: 18px;
                    font-weight: bold;
                    border-right: .1px solid #333;
                    border-top: .1px solid #333;
                    border-bottom: .1px solid #333;
                    box-sizing: border-box;
                    background: #fff;
                    display: -ms-flexbox;
                    display: flex;
                    justify-content: center;
                }
            }
        }
    } // .contentWrapper{
    //     display: flex;
    //     flex-direction: row;
    .contentRow {
        display: flex;
        flex-direction: row;
        .sideBarBox {
            flex: 0 0 200px;
            width: 200px;
            box-sizing: border-box;
            border: 1px solid #333;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: #fff;
            border-bottom: 3px solid #333;
        }
        .pnRow {
            display: flex;
            flex-direction: row;
            position: relative;
        }
        .isSunday {
            background: rgba(228, 236, 141, 0.3)!important;
        }
    } // }
    // 每一天样式
    .dateItem {
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        vertical-align: middle;
        border-right: .1px solid #333;
        border-bottom: .1px solid #333;
        box-sizing: border-box;
        font-weight: bold;
        background: #fff;
        &.isSunday {
            background: #e4ec8d;
        }
    }
    .headerWrapper {
        display: flex;
        flex-direction: row;
    }
    .monthWrapper {
        display: flex;
        flex-direction: row;
    }
    .rowWrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    .dayWrapper {
        flex: 1;
        display: flex;
        flex-direction: row;
    } // .fixSideBar{
    //     position: fixed;
    // }
    .fixHeaderWrapper {
        position: fixed;
        height: 75px;
        top: 74px;
        left: 260px;
        right: 20px;
        overflow: hidden;
        .fixHeader {
            position: fixed;
            top: 74px;
            background: #fff;
        }
    }
    
    .fixSideBar{
        cursor: pointer!important;
    }
}

.headerSideBarBox {
    flex: 0 0 200px;
    // width: 200px;
    width: 189px;
    height: 70px;
    box-sizing: border-box;
    border: .1px solid #333;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-right: none;
    .fixBoxItem {
        flex: 1;
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: bold;
        padding: 0 10px;
    }
    .pnDay {
        justify-content: flex-end;
    }
}

.pnInfoWrapper {
    text-align: center;
}

.pnNos {
    font-size: 14px;
    font-weight: bold;
}

.pnInfo {
    // color: black;
    text-align: center;
}

.scheduleCollapse{
    .ant-card-body{
        padding-left: 0!important;
        padding-right: 0!important;
    }
}

// 单独样式
.factoryName{
    font-size: 20px;
    font-weight: bold;
}