
.eventTable{
    .minPnWidth{
        min-width: 120px;
    }
    .minStyleWidth{
        min-width: 120px;
    }
    .minClothWidth{
        min-width: 190px;
    }
    .ant-tag{
        margin: 0;
    }
}