
.productTable{
    .disableRow{
        background: #ccc;
    }
    .ant-table-thead > tr > th{
        padding: 8px 0;
    }
    .ant-table-tbody > tr > td {
        padding: 8px 0px;
    }
    // 覆盖划过展开行背景色
    .ant-table-expanded-row-level-1{
        .ant-table-tbody > tr:hover > td {
          background: #fff;
        }
    }
    .productTableHeader{
        font-size: 16px;
        font-weight: bold;
    }
}