.poDialogContent{
    .title{
        font-size: 16px;
        color: black;
        text-align: center;
        margin-bottom: 10px;
        .poNo{
            font-weight: bold;
        }
        .qtyTotal{
            float: right;
        }
    }
    .anrrangeWrapper{
        display: flex;
        align-items: center;
    }
}


