.loadingWrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: white;
    padding: 10% 0;
}
.loadingPages{
    width: 65%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    .fly{
        flex: 1;
    }
    .loadingTxt{
        flex: 2;
        font-size: 22px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
