@import './variable.less';
.m-b{
    margin-bottom: 10px;
}
.m-r{
    margin-right: 10px;
}
.m-t{
    margin-top: 10px;
}
.m-l{
    margin-left: 10px;
}
.m-t10{
    margin-top: 10px;
}
.m-b5{
    margin-bottom: 5px;
}
.m-b10{
    margin-bottom: 10px;
}
.m-r2{
    margin-right: 2px;
}
.m-b0{
    margin-bottom: 0!important;
}
.m5{
    margin: 5px;
}
.m10{
    margin: 10px;
}
.m-20{
    margin-right: 20px;
}
.m-10{
    margin: 10px 0px;
}
.m-l5{
    margin-left: 5px;
}
.p-b10{
    padding-bottom: 10px;
}
.p-15{
    padding: 0px 10px!important;
}
.fs-16{
    font-size: 16px;
}
.f-r{
    float: right;
}
.t-r{
    text-align: right;
}
.t-c{
    text-align: center;
}
.d-ib{
    display: inline-block;
}

.w-80{
    width: 80px;
}


.dashBottom{
    // border-bottom: 1px dashed black;
}
.transition{
  transition: all .3s linear;
}
.btnWrapper{
    clear: both;
    overflow: hidden;
    margin-bottom: 10px;
    display: inline;
}
.ant-checkbox-disabled{
    span {
        color: black!important;
    }
}
.tableTitle{
    font-weight: bold;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.85);
    display: inline-block;
    .totalTxt{
        padding: 0 5px;
        text-align: center;
        background: deepskyblue;
    }
}
.ant-btn-primary{
    background-color: @primary!important;   
}

.acc{    
    color: #f7f7f7!important;
    border-color: #1890ff!important;
    background-color: #1890ff!important;    
}
.succ{    
    color: #f7f7f7!important;
    border-color: #13CE66!important;
    background-color: #13CE66!important;    
}
.sub{    
    color: #f7f7f7!important;
    border-color: rgb(255, 85, 0)!important;
    background-color: rgb(255, 85, 0)!important; 
    // border-color: #108ee9!important;
    // background-color: #108ee9!important;      
}
.salmon{    
    color: #f7f7f7!important;
    border-color: salmon!important;
    background-color: orange!important;    
}
.warn{    
    color: #f7f7f7!important;
    border-color: red!important;
    background-color: #f04134!important;    
}
.warning{    
    background-color: #ff661f!important;    
}
.ant-btn-primary.disabled{
    background-color: #f7f7f7!important;   
    color: rgba(0,0,0,.25)!important;   
}
.hide{
    display: none!important;  
}
.white{
    color: white;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.border{
  border: 1px solid #49a9ee;
  border-radius: 4px;
  transition: all .3s linear;
}
.anticon-picture{
    font-size: 18px;
}
.haveImg .anticon-picture{
    color: greenyellow;
}
.noImg .anticon-picture{
    color: red;
}
.disableColor{
  color: black!important; 
    //   reservation
    span{
        color: black!important; 
    } 
}
.searchTag{
  background: #2db7f5!important;  
  color: white!important;  
}
.iconfont {
    font-size: 36px!important; 
}
.clearFix::after{
    content: '';
    display: block;
    clear: both;
}

.flex{
    flex: 1;
}
.flex2{
    flex: 2;
}
.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.m-r5{
    margin-right: 5px;
}
.m-r10{
    margin-right: 10px;
}
.m-r20{
    margin-right: 20px;
}
.m-b20{
    margin-bottom: 20px;
}


.w50{
    width: 50%;
}
.width350{
    max-width: 350px;
}

.redLight{
    color: red;
}

.custom-filter-dropdown {
    padding: 8px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
}

.custom-filter-dropdown input {
    width: 130px;
    margin-right: 8px;
}

// 
.tableFooterBtn{
    .ant-table-footer {
        padding: 5px 8px;
        display: flex;
        flex-direction: row-reverse;
    }
}




.min120{
    min-width: 120px!important;
}
.min160{
    min-width: 160px!important;
}
.min180{
    min-width: 180px!important;
}
.min200{
    min-width: 200px!important;
}

.border{
    border: 1px solid #ccc;
    // border-radius: 50%;
    border-radius: 5px;
}
.width40{
    width: 40%;
}


.mcolor{
    color: @primary;
}


.max60{
    max-width: 60px!important;
}
.max120{
    max-width: 120px!important;
}
.max180{
    max-width: 180px!important;
}

.max200{
    max-width: 200px!important;
}
.max100{
    max-width: 100px!important;
}


.min200{
    min-width: 200px!important;
}



.flex1{
    flex: 1;
}

.ellipsis{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



.c-g{
    color: gray;
}



.w100{
    width: 100%;
}



.antDateInput{
    position: relative;
    display: inline-block;
    padding: 4px 7px;
    width: 100%;
    height: 32px;
    font-size: 12px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    transition: all .3s;
}




/* Tooltip 容器 */
.tooltip {
    position: relative;
    // display: inline-block;
    // border-bottom: 1px dotted black; /* 悬停元素上显示点线 */
}
 
/* Tooltip 文本 */
.tooltip .tooltiptext {
    visibility: hidden;
    // width: 120px;
    width: initial;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
 
    /* 定位 */
    position: absolute;
    z-index: 1;
    // bottom: 100%;
    left: 25%;
    // margin-left: -60px;
    
    /* 淡入 - 1秒内从 0% 到 100% 显示: */
    opacity: 0;
    transition: opacity 1s;
}
 
/* 鼠标移动上去后显示提示框 */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    z-index: 1000;
}



.disableBg{
    background: #ccc;
}

.bgr{
    background: red;
    color: white;
    // border-rad
}








