@import './variable.less';
.ant-layout-has-sider{
    flex-direction: row;
}
.ant-layout{
    background: #F0EFF5!important;
}
.ant-layout-header{
    flex: 0 0 64px!important;
}
.ant-layout-sider{
    overflow: hidden;
    // overflow-y: hidden;
}
.ant-table-title{
    // padding-top: 0!important;
}
.ant-table{
    color: black!important;
}

.ant-calendar-picker{
    // width: 100%!important;
}
/* 表格边框 */
.ant-table table {
    border: 1px solid #e9e9e9;
    border-radius: 4px!important;
}
.ant-btn-danger {
    color: #f7f7f7!important;
    background-color: @danger!important;
}
.ant-table-row:nth-child(2n) {
    // background: rgb(236,246,253);
}
.ant-table-thead > tr > th{
    background: @primary!important;
    color: white!important;
    text-align: center!important;
}
.ant-table-tbody > tr > td {
    text-align: center;
}
.ant-pagination-total-text{
    color: black;
    font-size: 14px;
    font-weight: bold;
}
.ant-pagination{
    margin-bottom: 0!important;
}
.ant-pagination-item-active{
    background: @primary!important;
}
.ant-input-disabled{
    color: black!important;
}
.ant-select-disabled{
    color: black!important;
}

.ant-card{
    border-radius: 4px!important;
}
.ant-card-head {
    padding: 0 20px!important;
    border-radius: 4px 4px 0 0!important;
}
.ant-card-body{
    padding: 20px!important;
}

.ant-table-expanded-row{
    background: white!important;
}
.ant-popover-arrow{
    // border-bottom-color: rgba(0,0,0,.75)!important;
}
.ant-table-thead > tr > th .ant-table-filter-selected.anticon-filter{
    color: white!important;
}
.ant-popover-inner-content{
    // max-width: 250px;
    // padding: 8px 10px;
    // color: #fff;
    // text-align: left;
    // text-decoration: none;
    // background-color: rgba(0,0,0,.75);
    // border-radius: 4px;
    // box-shadow: 0 1px 6px rgba(0,0,0,.2);
    // min-height: 34px;
}

// .badge-status:after {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     border-radius: 50%;
//     border: 1px solid #108ee9;
//     content: "";
//     -webkit-animation: antStatusProcessing 1.2s infinite ease-in-out;
//     animation: antStatusProcessing 1.2s infinite ease-in-out;
// }
.success{
    .ant-badge-status-processing{
        background-color: #13CE66!important;
    }
    .ant-badge-status-processing:after {
        border: 1px solid green;
    }
}
.error{
    .ant-badge-status-processing{
        background-color: #f04134;
    }
     .ant-badge-status-processing:after {
        border: 1px solid #f04134;
    }
}

.ant-table table{
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // .ant-table-thead, .ant-table-tbody{
    //     width: 100%!important;
    // }
    // .ant-table-thead > tr, .ant-table-tbody > tr{
    //     width: 100%!important;
    //     display: flex!important;
    // }
    // .ant-table-thead > tr > th, .ant-table-tbody > tr > t, .ant-table-tbody > tr > td{
    //     word-break: normal!important;
    //     overflow: hidden!important;
    //     flex: 1!important;
    //     text-overflow: ellipsis!important;
    //     text-overflow: ellipsis!important;
    //     white-space: nowrap!important;
    // }
    .ant-table-body{
        width: 100%;
    }
}

.ant-table-selection-column{
    min-width: 45px!important;
    padding-left: 0!important;
    padding-right: 0!important;
}


// 菜单栏
.ant-layout-sider{
    background-color: @sideBarBg!important;
    .ant-menu{
        background-color: @sideBarBg;
    }
    .ant-menu-dark .ant-menu-inline.ant-menu-sub{
        // background-color: @sideBarBg;
        background-color: #35404d;
    }
    .ant-menu.ant-menu-dark .ant-menu-item-selected{
        background: @primary;
    }
}
// 复选框
.ant-checkbox-checked .ant-checkbox-inner, .ant-checkbox-indeterminate .ant-checkbox-inner {
    background-color: @primary!important;
    border-color: @primary!important;
}

.noPagination{
    .ant-pagination{
        display: none;
    }
}


// 侧边栏
.yScroll {
    // width: 250px!important;
    // max-width: 250px!important;
    // min-width: 250px!important;
}

.centerNotification{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.ant-notification{
    top: 90px!important;
}

// message提示框
.ant-message-notice {
    // padding: 58px!important;
    .anticon {
        font-size: 16px!important;
    }
    span{
        font-size: 14px;
        color: black;
        font-weight: bold;
    }
}

// 修改模态框变成确认框
.corfirmModal{
    .ant-modal-header{
        display: none;
    }
    .ant-modal-body{
        padding-top: 40px;
    }
    .ant-modal-footer{
        border-top: none;
        padding-bottom: 20px;
    }
}

// 含有按钮的表格
.minTd{
    .ant-table-thead > tr > th{
        padding: 12px 0;
    }
    .ant-table-tbody > tr > td {
        padding: 8px 0px;
    }
}

// 表格tag
.noMgTag{
    .ant-tag{
        margin: 0;
    }
}

// agGrid样式
.agGridTable .ag-header-cell-moving {
  background: @primary;
  color: #ccc;
}
.ag-theme-balham .ag-header-cell, .ag-theme-balham .ag-header-group-cell{
    // line-height: 0px;
    line-height: normal!important;
    // padding-left: 0px;
    // padding-right: 0px!important;
}

.ag-theme-balham .ag-floating-filter-button {
    margin-top: 0!important;
}



// 提示框
.ant-tooltip-inner{
    max-width: 100%!important;
}

// 删除提示框 标题
.ant-confirm-body {
    .ant-confirm-title {
        font-size: 16px!important;
    }
    .ant-confirm-content{
        font-size: 14px!important;
    }
}






