
// 提示框
.modalContent{
    font-size: 19px;
    font-weight: bold;
    font-size: 16px;
    font-weight: bold;
    color: black;
    // text-align: center;
    margin-left: 30px;
    .editTxt{
        display: inline-block;
    }
    .anticon-question-circle{
        font-size: 24px;
        color: #ffbf00;
        margin-right: 15px;
    }
}