
.sideBarFixs {
    position: fixed;
    width: 200px;
    top: 74px;
    bottom: 20px;
    left: 210px;
    // overflow: hidden;
    background: white;
    z-index: 999;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 10px 0 10px -4px rgba(0,0,0,.4)
}
.headerFixs {
    position: fixed;
    height: 70px;
    top: 74px;
    right: 22px;
    overflow: hidden;
    // overflow-x: hidden;
    background: white;
    z-index: 2;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.fixBox {
    position: fixed;
    top: 74px;
    left: 210px;
    z-index: 999;
}