@import '../../static/css/variable.less';
.react-draggable, .cursor {
  cursor: move;
}
.no-cursor {
  cursor: auto;
}
.cursor-y {
  cursor: ns-resize;
}
.cursor-x {
  cursor: ew-resize;
}
.react-draggable strong {
  background: #ddd;
  border: 1px solid #999;
  border-radius: 3px;
  display: block;
  margin-bottom: 10px;
  padding: 3px 5px;
  text-align: center;
}
.box {
  background: rgba(238, 238, 238, 0.8);
  border: 1px solid #999;
  transition: all .1s ease-in-out;
  // border-left: 5px solid deepskyblue;
  // border-right: 5px solid deepskyblue;
  border-radius: 3px;
  height: 20px;
  margin-top: 2px;
  // margin-top: 8px;
  font-size: 16px;
  text-align: center;
  // font-weight: bold;
  line-height: 20px;
  position: absolute;
  // overflow: hidden;
  top: -3px;
  cursor: auto;

  
  overflow: hidden;
}
.machineName{
  position: absolute;
  left: 8px;
  right: 8px;
  top: -2px;
  bottom: 0;
  overflow: hidden;
  color: #000;
  font-weight: bold;
  z-index: 1;
}
.dragBorder{
  display: inline-block;
  position: absolute;
  width: 10px;
  // height: 25px;
  height: 100%;
  background: @primary;
  z-index: 100;
  // cursor: w-resize;
  cursor: pointer;
  &.dragLeft{
    left: 0;
    // left: -14px;
    // border-radius: 5px 0 0 5px;
    // top: -1px;
  }
  &.dragRight{
    right: 0;
    // right: -14px;
    // border-radius: 0 5px 5px 0;
    // top: -1px;
  }
}
.real{
  // position: fixed;
  width: 30px;
  height: 15px;
  background: #00bfffcc;
  // background: #00ffffe3;
  bottom: 2px;
  text-align: center;
  border-left: 10px solid #47ff00;
  border-right: 10px solid #47ff00;
  border-radius: 3px;
  font-weight: bold;
  font-size: 18px;
}
.short{
  position: absolute;
  width: 30px;
  height: 5px;
  background: red;
  bottom: 0;
}
.bars{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ccc;
  top: 0;
  left: 0;
  right: 0;
  bottom: 5px;
  height: 20px
}
.work{
  position: absolute;
  width: 100%;
  height: 5px;
  background: rgb(11, 244, 138);
  bottom: 0;
}

.sliders{
  // z-index: 10000;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  // left: 2px;
  // right: 2px;
  top: 0;
  bottom: 0;
  // .ant-slider-handle-2{
  //   display: none;
  // }
  &.dragLeft{
    .ant-slider-handle-2{
      display: none;
    }
  }
  &.dragRight{
    .ant-slider-handle-1{
      display: none;
    }
  }
  .ant-slider-track-1{
    z-index: 100;
    background: rgba(78, 134, 255, 0.9);
  }
}

.ant-slider-track {
  height: 24px;
}

.ant-slider-handle {
  margin-top: -5px;
  width: 28px;
  height: 28px;
  z-index: 100;
}
.ant-slider-rail {
  background-color: darkgray;
}

.barPopover{
  color: black;
  font-weight: bold;
  font-size: 14px;
}
.ant-popover-inner{
  background: rgba(255, 255, 255, 0.9);
  .detailbtn{
    margin-left: 5px;
  }
}


.barcodeLock{
  color: red;
  font-size: 18px;
}

.lockBar{
  background: #958c8c;
}

.isOutDay{
  // position: absolute;
  // width: 100%;
  // height: 5px;
  background: #f0ff07;
}



