.collapse{
    .ant-collapse {
      background-color: white;
      overflow-x: hidden;
      overflow-y: hidden;
      border: none;
      .ant-collapse-header{
        display: none;
      }
    }
    .ant-card:hover{
      border: 1px solid #e9e9e9;
    }
    .anticon{
      cursor: pointer;
    }
    .ant-card-body:first-child{
      padding:  1px 0 0 0!important;
    }
    .ant-collapse-content{
      padding: 0!important;
      overflow: initial;
    }
    .ant-collapse-content > .ant-collapse-content-box{
      padding: 0!important;
    }
    .ant-collapse > .ant-collapse-item{
      border-bottom: none!important;
    }

    .ant-card-head-title{
      font-size: 16px;
      font-weight: 900;
    }
}
.noExpend{
  .ant-card-head{
    border-bottom: none!important;
    border-radius: 4px!important;
  }
  .ant-card-body{
    padding: 0!important;
  }
}