// InputsNumber
.inputs {
    input {
        width: 100%;
    }
    .ant-input-number {
        margin: 0;
        width: initial;
    }
    .ant-form-item-control {
        line-height: initial;
    }
    .ant-form-item {
        // margin: 0;
    }
    // .ant-input-number-handler-wrap {
    //     display: none;
    // }
    .ant-input-number-disabled {
        .ant-input-number-input {
            color: black;
        }
    }
}