.infoItem{
    height: 35px;
    line-height: 35px;
    .infoLabel{
        font-size: 14px;
        font-weight: bold;
        color: black;
        text-align-last: justify;
        text-align: justify;
    }
    .infoValue{
        font-size: 14px;
        color: black;
    }
}