.ant-layout-sider{
    transition: all .3s linear;
}
.yScroll{
    // overflow-y: auto;
}
.logoWrapper{
    height: 64px;
    line-height: 64px;
    text-align: center;
}
.logoTitle {
    transition: all .3s linear;
    // background: #333;
    border-radius: 6px;
    margin: 16px; 
    height: 40px;
    line-height: 40px;
    font-size: 32px;
    font-style: italic;
    // color: #108ee9;
    color: #4e86ff;
    color: #00aaff;
    text-align: center;
    background: #333;
}
.logo{
    vertical-align: middle;
    transition: all .3s linear;
}
.ant-menu{
    span{
        font-size: 14px;
    }
}