.loading-overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 11000;
    transition: all .6s;
    opacity: 1;
}

.sk-three-bounce {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
}

.sk-child {
    width: 20px;
    height: 20px;
    background: greenyellow;
    border-radius: 100%;
    display: inline-block;
    animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
}

.sk-bounce1 {
    background: salmon;
    animation-delay: -0.32s;
}

.sk-bounce2 {
    background: #4e86ff;
    animation-delay: -0.16s;
}

@keyframes sk-three-bounce {
    0%,
    80%,
    100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
}