@import '../../static/css/variable.less';
.react-draggable, .cursor {
  cursor: move;
}
.no-cursor {
  cursor: auto;
}
.cursor-y {
  cursor: ns-resize;
}
.cursor-x {
  cursor: ew-resize;
}
.react-draggable strong {
  background: #ddd;
  border: 1px solid #999;
  border-radius: 3px;
  display: block;
  margin-bottom: 10px;
  padding: 3px 5px;
  text-align: center;
}
.box {
  background: rgba(238, 238, 238, 0.8);
  border: 1px solid #999;
  transition: all .1s ease-in-out;
  // border-left: 5px solid deepskyblue;
  // border-right: 5px solid deepskyblue;
  border-radius: 3px;
  height: 25px;
  margin-top: 2px;
  font-size: 16px;
  text-align: center;
  // font-weight: bold;
  line-height: 20px;
  position: absolute;
}
.machineName{
  position: absolute;
  left: 8px;
  right: 8px;
  top: 0;
  bottom: 0;
  overflow: hidden;
  color: #000;
  font-weight: bold;
}
.dragBorder{
  display: inline-block;
  position: absolute;
  width: 10px;
  // height: 25px;
  height: 100%;
  background: @primary;
  z-index: 100;
  cursor:
  w-resize;
  &.dragLeft{
    left: 0;
    // left: -14px;
    // border-radius: 5px 0 0 5px;
    // top: -1px;
  }
  &.dragRight{
    right: 0;
    // right: -14px;
    // border-radius: 0 5px 5px 0;
    // top: -1px;
  }
}
.short{
  position: absolute;
  width: 30px;
  height: 5px;
  background: red;
  bottom: 0;
}
.bars{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ccc;
  top: 0;
  left: 0;
  right: 0;
  bottom: 5px;
  height: 20px
}
.work{
  position: absolute;
  width: 100%;
  height: 5px;
  background: rgb(11, 244, 138);
  bottom: 0;
}