@import '../../static/css/variable.less';

.realQtyTable{
    text-align: center;
    border: 1px solid #ccc;
    .td{
        &.th{
            background: @primary;
            color: white;
        }
        &.total{
            font-weight: bolder;
            color: red;
        }
        padding: 6px 10px;
        font-size: 16px;
        color: black;
        border: 1px solid #e9e9e9;
        // border-right: 1px solid #e9e9e9;
        // border-left: 1px solid #e9e9e9;
    }
}