

.login{
  width: 100%;
  height: 100%;
  background: #1F2D3D;
  .loginWrapper{
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    .esTitle {
        text-align: center;
        font-size: 44px;
        color: #fff;
        margin-bottom: 30px;
    }
    .login-form {
      // max-width: 380px;
      // padding: 35px 35px 1px 35px;
      padding: 40px 35px 10px 35px;
      border-radius: 5px;
      background: white;
      .login-form-button {
        width: 100%;
      } 
      .ant-input-affix-wrapper{
        .ant-input{
          min-width: 350px;
        }
      }
      .icon{
        font-size: 14px;
      }
    }
  }
}
.logins{
  width: 8px;
  height: 8px;
  // background: #4e86ff;
  background: #fff;
  position: absolute;
  left: 92%;
  top: 91%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}