
/*设置主题色  */
.paneWrapper{
  position: fixed;
  z-index: 100;
  right: -215px;
  top: 70px;
  z-index: 1002;
  transition: right 0.2s ease;
  .anticon {
    color: #4e86ff;
  }
}
.settingContent{
  width: 215px;
  padding: 15px;
  background: white;
  position: absolute;
  right: 0;    
  overflow: hidden;    
  border: 1px solid rgba(120, 120, 120, 0.1);
}
.active{
  right: 0;
}
.settingPane{
  position: absolute;
  right: 214px;
  z-index: 1000;
  padding: 10px 15px;
  border: 1px solid rgba(120, 120, 120, 0.1);
  border-right-width: 0;    
  background: white;
}

.switchWrapper{
  display: flex;
  align-items: center;
  width: 80px;
  float: left;
  margin: 5px;
}