.headerWrapepr {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    .logoutWrapper{
        margin-right: 20px;
        // float: right;
        .anticon{
            font-size: 18px;
            cursor: pointer;
        }
    }
    .trigger {
        flex: 0 0 50px;

        font-size: 18px;
        line-height: 64px;
        padding: 0 16px;
        cursor: pointer;
        transition: color .3s;
    }
    .trigger:hover {
        color: #108ee9;
    }
    .anticon-arrows-alt {
        margin-left: 80px;
        font-size: 18px;
        line-height: 64px;
    }
    .avatar {
        margin-top: 12px;
        margin-right: 10px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #eee;
    }
    .userName {
        float: right;
        margin-right: 30px;
        font-size: 16px;
        .ant-badge-count {
            left: 30px;
            top: -20px;
        }
    }
    .loginUser {
        height: 100%;
        float: right;
        display: flex;
        margin-right: 20px;
        .dropdown {
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
            font-weight: bold;
        }
    }
    .ant-dropdown-menu-item-group-title {
        color: black;
        font-size: 18px;
        padding-left: 15px;
    }
    .ant-dropdown-menu-item {
        padding-left: 10px;
    }
    .logout {
        font-size: 16px;
        padding-left: 10px;
    }
    .monthWrapper {
        float: right;
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 15px;
        .monthItem {
            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-right: 5px;
        }
    }
    .dateInput{
        width: 90px;
        max-width: 90px;
        padding: 0;
        line-height: 1.5;
        // width: 95%;
        // height: 30px;
        // .ant-input-number-input{
        //     // height: 30px;
        // }
    }
    .label{
        font-weight: bolder;
    }
    .antDateInput{
        // width: initial;
        width: 100%;
        padding: 0;
        line-height: 1.5;
        height: 32px;
        flex: 3;
    }
    .flexCenter{
        flex: 2;
    }


    

    .filterForm{
        // width: 90%;
        // display: inline-block;
        // width: 80%;
        // width: 90%;
        // height: 15%;

        // flex: 10;
        flex: 3;
        .ant-row{
            display: inline-block;
            // width: 20%;
            width: 33%;
            // margin-bottom: 10px;
            margin-bottom: 0;
            vertical-align: middle;
            .ant-form-item-label{
                line-height: 2;
                text-align: center;
                height: 32px;
                line-height: 32px;
                label{
                    font-size: 14px;
                    font-weight: bold;
                }
            }
        }
        
    }
}

.filterInfoWrapper{
    flex: 1;
    display: flex;
    // .ant-row{
    //     width: 25%;
    // }
    .ant-input-number-handler-wrap{
        display: none;
    }
    .filterWrapper{
        width: 10%;
        display: inline-block;
        text-align: center;
    }
    .filterBtn{
        // flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        // width: 10%;
        // display: inline-block;
        // line-height: 64px;
        // float: right;
        // margin-top: 13px;
    }
}









