.switch{
  position: absolute!important;
  left: 250px;
  top: 20px;
}
.logoTitle{
  transition: all .3s linear;
}
.w-40{
  width: 24px;
  height: 24px;
  display: inline-block;
  border: 1px solid rgba(120, 130, 140, 0.13);
  text-align: center;
}

.mr-s{
  margin-right: 5px;
}

.dragPage.ant-layout-content{
    flex: 1!important;
    // overflow: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    overflow: hidden;
    // overflow: hidden;
    z-index: 1000;
    background: white;
    color: black;
}

.contentsWrapper{
  margin: 10px;
}