@import './static/css/index.less';

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#root, .root, .ant-layout {
  width: 100%;
  height: 100%;
}
.ant-layout-content{
  position: relative;
}
	
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #8492A6;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #e2e2e2;
}

// &
::-webkit-scrollbar-button {
  background: #8492A6;
  border-radius: 50%;
} 
