
.colorTable{
    // td{
    //     max-width: 200px!important;
    // }
    .ant-table-thead > tr > th{
        padding: 10px 8px!important;
    } 
    .ant-table-tbody > tr > td{
        padding: 8px 8px!important;
    }
    
    .ant-input-number-handler-wrap{
        display: none;
    }
}
.inputMaxWidth{
    max-width: 80px;
}