.searchWrapper{
    // width: 200px;
    display: inline-block;
    line-height: 2.15;
    .ant-input-group-addon{
        background-color: #108ee9;
        color: white;
    }
    .ant-input{
        vertical-align: middle;
        display: inline-block;
        // width: 80%;
    }
}