
.barcodeTable{
    // td{
    //     line-height: 30px;
    // }
    .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
        padding: 8px 2px;
    }
    .dateColumn{
        max-width: 220px;
        // min-width: 200px;
        // .ant-calendar-range-picker-input{
        //     text-align: initial;
        // }
        .ant-calendar-picker{
            width: 100%!important;
        }
    }
    // 覆盖选择框高度样式
    .productLineSelect{
        min-width: 135px;
        .ant-select{
            width: 100%;
        }
        // min-width: 100px;
        // .ant-select-selection--single{
        //     height: 28px;
        //     line-height: 28px;
        //     .ant-select-selection__rendered{
        //         height: 28px;
        //         line-height: 28px;
        //     }
        // }
    }
    // 覆盖输入框高度样式
    .ant-input{
        height: 28px;
        line-height: 28px;
    }
    .ant-input-number{
        height: 30px;
        line-height: 30px;
        .ant-input-number-input{
            height: 28px;
            line-height: 28px;
        }
        .ant-input-number-handler-wrap{
            display: none;
        }
    }
    .numColumn{
        // min-width: 80px;
        max-width: 100px;
    }
    // .dateInput{
    //     // width: 48%;90px
    //     width: 60px;
    // }
    .datesInput{
        width: 50%;
        display: inline-block;
        min-width: 150px;
    }
    .antDateInput{
        width: 50%;
        display: inline-block;
        min-width: 150px;
        // max-width: 150px;
    }
    .m-ro{
        margin-right: 2%;
    }
    .orginDate{
        // font-size: 16px;
    }
    
    .noWrap{
        white-space: nowrap;
    }
}