// .Homes{
//   position: absolute;
//   left: 0;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   .dragToggle{
//     width: 100%;
//     height: 100%;
//     border: 1px solid black;
//     position: relative;
//     overflow: hidden;
//     left: 0;
//     right: 0;
//     top: 0;
//     bottom: 0;
//   }
//   .boxs {
//     background: #fff;
//     border: 1px solid #999;
//     border-radius: 3px;
//     width: 200px;
//     height: 200px;
//     // margin-right: 200px;
//     // margin-top: 75px;
//     padding: 10px;
//     position: absolute;
//     transition: all .1s ease-in-out;
//   }
//   .headerBars{
//     width: 100%;
//   }
//   .body{
//     width: 100%;
//     height: 100%;
//   }
// }

// .side{
//   width: 130px!important;
// }
// .head{
//   height: 75px!important;
// }
// .HeadBar{
//   width: 60px!important;
//   height: 10px!important;
//   border-radius: 20px;
//   background: #8492A6;
// }
// .SideBar{
//   width: 10px!important;
//   height: 60px!important;
//   border-radius: 20px;
//   background: #8492A6;
// }
// .headerFixs{
//   position: absolute;
//   top: 0;

//   position: fixed;
//   top: 74px;
//   left: 210px;
//   right: 10px;
//   overflow: hidden;
//   transition: all .1s ease-in-out;
//   .react-draggable{
//     cursor: auto;
//   }
// }
// .sideBarFixs{
//   height: 100%;
//   position: absolute;
//   left: 0;
//   top: 0;
//   width: 130px;
//   &.fix{
//     .tdOne{
//       position: fixed;
//       left: 0;
//       top: 0;
//     }
//   }
// }
// .headerFix{
//   position: absolute;
//   // width: 100%;
//   bottom: 10px;
//   z-index: 1000;
  
//   position: fixed;
//   left: 210px;
//   right: 10px;
//   background: #c8c7c7;
//   transition: all .1s ease-in-out;
// }
// .sideBarFix{
//   height: 100%;
//   position: absolute;
//   right: 0;
//   top: 0;
//   z-index: 1000;
// }
// .fixBox{
//   // position: absolute;
//   left: 0;
//   top: 0;
//   z-index: 1000;

//   position: fixed;
//   top: 74px;
//   left: 210px;
//   transition: all .1s ease-in-out;
// }
// .fix{
//   position: fixed;
//   // z-index: 1000;
//   top: 74px;
//   overflow: hidden;

// }

