@import '../../static/css/variable.less';
.artLine{
    .pnSelect{
        min-width: 150px;
    }
    .pnTab{
        height: 900px;
        overflow-y: scroll;
        .pnNoWrapper{
            padding: 2px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
    }
    .pnNoItem{
        margin-bottom: 5px;
        padding: 5px 0;
        text-align: center;
        border: 1px solid #ccc;
        color: black;
        font-size: 14px;
        background: #ccc;
        transition: all .3s linear;
        &:hover{
            color: #108ee9;
            cursor: pointer;
        }
        &.activePnNo{
            background: @primary;
            color: white;
            border: 1px solid @primary;
        }
    }
    
    .detailBox{
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        color: black;
        font-size: 14px;
        .label{
            font-weight: bold;
        }
        .detailTop{
            // flex: 1;
            display: flex;
            & > div{
                padding: 10px;
            }
            // .pnNoBox{
            //     border-right: 1px solid black;
            // }
            // .num{
            //     border-left: 1px solid black;
            //     border-right: 1px solid black;
            // }
            .topItem{
                border-right: 1px solid black;
                flex: 1;
            }
        }
        .detailBottom{
            .bottomItem{
                border-right: 1px solid black;
                flex: 1;
            }
            & > div{
                padding: 10px;
            }
            border-top: 1px solid black;
            display: flex;
        }
        .borderRight{
            border-right: 1px solid black;
        }
    }
    .artlineWrapper{
        display: flex;
        flex-direction: column;
        .artlineWrapper{
            display: flex;
        }
        .stepItems{
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .stepItems{
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            .accTitle{
                align-items: center;
                color: #fff; 
                margin-bottom: 20px;
                font-size: 20px;
            }
            .accProcess{
                padding: 0 10px;
                border-color: @primary;
            }
            .imgWrapper{
                width: 100%;
                height: 100%;
                .noImg{
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    color: #fff;     
                    font-size: 20px;
                }
                .artImg{
                    width: 100%;
                    height: 100%;    
                }
            }
        }
    }


    .stepWrapper{
        flex: 2;
        background: #2f4050;
        padding: 20px;
        margin-top: 20px;
        display: flex;
        // flex-direction: column;
        align-items: center;
        .stepItem{
            border-radius: 10px;
            background: white;
            padding: 15px 30px;
            text-align: center;
            font-weight: bold;
            // margin-bottom: 10px;
            margin: 10px 0;
            color: black;
            font-size: 16px;
            
        }
        .stepContent{
            .indicatorWrapper{
                color: white;
                text-align: center;
                display: flex;
                .devDays{
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .anticon-arrow-down{
                    font-size: 36px;
                    display: flex;
                    justify-content: flex-end;
                    flex: 1;
                    // display: flex;
                    // flex-direction: column;
                    // align-items: center;
                }
            }
        }
    }
    

    .artLineForm{
        label {
            width: 100%;
            display: inline-block;
            text-align-last: justify;
            text-align: justify;
        }
        .ant-input{
            border: none;
            border-bottom: 1px solid black;
            border-radius: initial;
            font-size: 16px;
            text-align: center;
        }
    }

}


.conWrapper{
    display: flex;
    .tabWrapper{
        display: flex;
        flex: 1;
        .pnTab{
            width: 100%;            
        }
        
    }
    .cont{
        display: flex;
        flex: 6;
        
    }

}

    
.selectForm{
    .label{
        font-size: 16px;   
        font-weight: bold;     
        color: black;  
    }          
}

    

    

    
