
@import '../../static/css/variable.less';


.formLabel{
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
}
.form{
    .ant-select{
        width: 100%;
    }
}

.manulWrapper{
    display: flex;
    flex-direction: column;

     
    
    // 下拉框 百分百宽度
    .ant-form-item{
        flex: 1;
    }


    .filterForm{
        display: flex;
    }
    .filterInfoWrapper{
        display: flex;
        flex-direction: row;
    }
    .dateWrapper{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        .label{
            width: 82px;
        }
    }
    .formWrapper{
        flex: 3;
        width: 100%;
    }
    .filterBtn{
        flex: 82px 0 0;
    }
    
    .barcodeInfoWrapper{
        padding: 10px;
        margin: 10px;
        border: 1px solid black;
        border-radius: 5px;
    }




    
    .pnSelect{
        min-width: 150px;
    }
    .pnTab{
        height: 600px;
        overflow-y: scroll;
        .pnNoWrapper{
            padding: 2px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
    }
    .pnNoItem{
        margin-bottom: 5px;
        padding: 5px 0;
        text-align: center;
        border: 1px solid #ccc;
        color: black;
        font-size: 14px;
        background: #ccc;
        transition: all .3s linear;
        &:hover{
            color: #108ee9;
            cursor: pointer;
        }
        &.activePnNo{
            background: @primary;
            color: white;
            border: 1px solid @primary;
        }
    }
    
    .artlineWrapper{
        display: flex;
        flex-direction: column;
        .artlineWrapper{
            display: flex;
        }
        .stepItems{
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .stepItems{
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            .accTitle{
                align-items: center;
                color: #fff; 
                margin-bottom: 20px;
                font-size: 20px;
            }
            .accProcess{
                padding: 0 10px;
                border-color: @primary;
            }
            .imgWrapper{
                width: 100%;
                height: 100%;
                .noImg{
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    color: #fff;     
                    font-size: 20px;
                }
                .artImg{
                    width: 100%;
                    height: 100%;    
                }
            }
        }
    }



}







